/* TODO 
Bygg vidare på produktpresentationssidan:

Använd minst 3 olika färger

Använd minst 1 klass och 1 ID

Ändra fontstorlek på rubrik och brödtext

Testa att använda en relativ enhet (%, rem, em, vh eller vw)

Extra: Testa en grupp-selektor, t.ex.:

h1, h2, p {
  font-family: Arial;
}

Använd en grupp-selektor för att sätta samma font-family på rubriker och text
*/
body{
  background-color: #ffffff; /* bakrundsfärg */
  color: #222; /*  */
  font-family: Arial, Helvetica, sans-serif; /*typsnitt*/
  line-height: 1.6; /* gör texten mer lättläst*/
}

h1{
    color: rgb(69, 168, 65);
    background-color: rgb(151, 226, 101);
    text-align: center; /* centrerar rubriken*/
    font-size: 70px; /* storlek på text */
}

h2{
  margin-top: 1em; /* mellanrum ovanför rubrik*/
  color: #009220;
  font-size: 50px;

}

p{
  font-size: 25px;
}

nav a{
  color: rgb(4, 0, 255); /* färg på länken */
  text-decoration: none; /* tar bort understrykning */
  margin-right: 10px; /* mellanrum mellan länkar */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

.fruit-card{
  border: 1px solid #ddd;
}